<h1>Adding Grades for Students</h1>
<br/>
<br/>
<br/>
<div class="container center_div">
<%= form_with(model: coursestudenttrack, local: true) do |form| %>
  <% if coursestudenttrack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coursestudenttrack.errors.count, "error") %> prohibited this coursestudenttrack from being saved:</h2>

      <ul>
      <% coursestudenttrack.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div  class="form-group">
  <label >Select the Student Name</label>
  <br/>
  <select name="student_id"  class="form-control select form-control-lg"> 
  <% @studentnames.each_with_index do |student, index| %>
    <%= content_tag(:option, @studentnames[index], value: @studentids[index]) %>
  <% end %>
  </select>
  </div>
  <br/>
  <br/>
  

<div class="form-group">
<label >Select the Course Name</label>
<br/>
<select name="course_id"  class="form-control select form-control-lg"> 
<% @coursenames.each_with_index do |course, index| %>
  <%= content_tag(:option, @coursenames[index], value: @courseids[index]) %>
<% end %>
</select>
</div>
<br/>
<br/>


<div  class="form-group">
<label >Enter the Grade of the Student</label>  
<br/>
  <input type="number" class="form-control form-control-lg input-lg" data-bv-integer="true" placeholder="0" min=0 required=true name="grade">
  </div>
  <br/>
  <br/>

  <div class="actions">
    <button type="submit" class="btn btn-primary btn-block">Upload Grade</button>
  </div>
<% end %>
</div>

